.screen_container {
  width: 100vw;
  height: calc(100vw * 9 / 16);
  max-height: 100vh;
  margin: 0 auto;
}

.header {
  display: flex;
  width: 95%;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}


.siscoBear img {
  width: 8vw;
  max-width: 170px;
  height: auto;
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translateX(-50%);
}


/* フェーズ */
.Phase {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 18vh;
  left: 0;
}

.phase_button {
  width: 10vw;
  max-width: 160px;
  height: 13vh;
  font-size: 16px;
  font-weight: normal;
  border-radius: 12px;
  transition: transform 0.2s ease, background-color 0.2s ease;
  background: #ffffff;
  border: 1px solid #767676;
  cursor: pointer;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.phase_button.disabled {
  background-color: #E9E9E9;
  color: #000000;
  cursor: not-allowed;
  font-weight: bold;
}

.phase_button.selected {
  font-weight: bold;
}

.phase_button:hover:not(.disabled) {
  background-color: #cce5ff;
}


/* 説明会日程ボタン */
.Inforsessionschedule {
  display: inline-block;
  border-radius: 5px;
  z-index: 5;
}

.Inforsessionschedule button {
  background-color: #CFF1F6;
  border-radius: 8px;
  border: 1px solid #000000;
  color: #000;
  padding: 1px 20px;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s
}

.Inforsessionschedule button:hover {
  background-color: #b0c4de;
}

.Inforsessionschedule button:active {
  background-color: #4682b4;
}


/* 年度切り替え */
.Nendo {
  position: absolute;
  right: 6vh;
  top: 7vh;
  border-radius: 4px;
  border: 1px solid #000000;
  z-index: 11;
}

.Nendo select {
  height: 100%;
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: rgb(255, 255, 255);
}


/* 検索 */
.Search {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  /* Searchバーの優先度を高める */
}

.Search input[type="search"] {
  width: 50vw;
  height: 5vh;
  padding: 1vh;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 30px;
  background-color: #fbedff;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

input[type="search"]:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}



/* 学生登録ボタン */
.Studentregister {
  position: absolute;
  top: 15vh;
  right: 4vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 5px;
}

.Studentregister button {
  background-color: #CFF1F6;
  border-radius: 5px;
  border: 1px solid #000000;
  padding: 1px 10px;
  font-size: 20px;
  cursor: pointer;
}

.Studentregister button:hover {
  background-color: #b0c4de;
}

.Studentregister button:active {
  background-color: #4682b4;
}


.Upload {
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1vh;
}

.Upload button {
  width: auto;
  font-size: 1vw;
  color: rgb(0, 0, 0);
  border: 1px solid #767676;
  border-radius: 3px;
  cursor: pointer;
  padding: 4px 12px;
}

.Upload input[type="file"] {
  font-size: 1vw;
  width: 100%;
  cursor: pointer;
}

/* 説明会日時プルダウン */
.Infor2 {
  position: fixed;
  top: 22vh;
  left: 3vh;
  width: 10vw;
  padding: 1vw;
  border-radius: 8px;
  z-index: 10;
}

.Infor2 select {
  width: 100%;
  font-size: 1vw;
  padding: 0.5vw;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-sizing: border-box;
}

.Infor2 select:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 4px #007bff;
}

.Infor2 option {
  font-size: 1vw;
  padding: 0.2vw;
}


/* 一括登録ボタン */
.Bulkregister {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.Bulkregister button {
  position: fixed;
  top: 23vh;
  right: 4vh;
  background-color: #CFF1F6;
  border-radius: 5px;
  border: 1px solid #000000;
  padding: 1px 10px;
  font-size: 20px;
  cursor: pointer;
}

.Bulkregister button:hover {
  background-color: #b0c4de;
}

.Bulkregister button:disabled {
  background-color: #E9E9E9;
  color: #A0A0A0;
  cursor: not-allowed;
}


/* チェックボックス */
.checkbox {
  width: 20px;
  height: 20px;
  transform: scale(1.5);
  margin: 5px;
  cursor: pointer;
}


/* ポップアップ */
.popup_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.popup_content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  z-index: 1010;
}

.popup_content h2 {
  margin-top: 0;
}

.popup_content button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup_content button:hover {
  background-color: #0056b3;
}

.error_message_container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 1000;
}

.error_message_text {
  color: rgb(0, 0, 0);
  font-weight: bold;
  margin-bottom: 10px;
}

.close_error_button {
  background-color: #7bbbff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.close_error_button:hover {
  background-color: #0056b3;
}

.popup_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup_content {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 50%;
  text-align: center;
}

.popup_buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.close_button,
.register_button {
  background-color: #007bff;
  color: #000000;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
}

.close_button {
  background-color: #dc3545;
}

.register_button {
  background-color: #C7E0FF;
}

.close_button:hover,
.register_button:hover {
  opacity: 0.8;
}

.studenttbl {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  table-layout: fixed;
}

.studenttbl th,
.studenttbl td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
  width: 50%;
}

.studenttbl th {
  background-color: #f5f5f5;
}


/* 学生状況 */
.Studentsituation_label {
  font-weight: bold;
  margin-top: 8px;
  display: block;
}

.Studentsituation {
  display: flex;
  justify-content: center;
  /* 中央寄せ */
  gap: 2px;
  /* ボタン同士の幅を指定 */
  position: relative;
  top: 0vh;
  left: 0vh;
}

.Studentsituation button {
  border: 1px solid #000;
  color: #000;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 15px;
  height: 40px;
  width: 70px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Studentsituation button.active {
  background-color: #87b8e8;
  color: #fff;
}

.Studentsituation button:last-child {
  font-size: 13px;
}

.Studentsituation1 {
  display: flex;
  justify-content: center;
  gap: 2px;
  position: relative;
  top: 0vh;
  left: 0vh;
}

.Studentsituation1 button {
  border: 1px solid #000;
  color: #000;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 15px;
  height: 40px;
  width: 70px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Studentsituation1 button.active {
  background-color: #87b8e8;
  color: #fff;
}

.Studentsituation2 {
  display: flex;
  justify-content: center;
  /* 中央寄せ */
  gap: 2px;
  /* ボタン同士の幅を指定 */
  position: relative;
  top: 0vh;
  left: 0vh;
}

.Studentsituation2 button {
  border: 1px solid #000;
  color: #000;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 15px;
  height: 40px;
  width: 70px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Studentsituation2 button.active {
  background-color: #87b8e8;
  color: #fff;
}


/* ページネーション */
.Pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5vw;
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  top: 97.5vh;
}

.page_button {
  border-radius: 50%;
  border: 1px solid #ccc;
  background-color: white;
  color: black;
  font-size: 1.3vw;
  width: 2vw;
  height: 2vw;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.page_button:disabled {
  color: #ddd;
  cursor: not-allowed;
}

.page_button.active {
  background-color: #6ed5e0;
  color: white;
  border: 1px solid #6ed5e0;
}

.page_button:hover:not(:disabled) {
  background-color: #f2f2f2;
}

.dots {
  font-size: 18px;
  color: #aaa;
}


/* 件数 */
.Number {
  position: fixed;
  top: 26vh;
  right: 6vh;
  font-size: 1.5vw;
  color: #000;
  text-align: center;
}


/* テーブル */
.table_container {
  position: fixed;
  top: 34vh;
  left: 0;
  margin: 0 auto;
  width: 100%;
  border: 1px solid rgb(125, 170, 255);
  background-color: #fff;
  max-height: 60vh;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
}

.student_table {
  width: 100%;
  border-collapse: collapse;
}

.table_title {
  text-align: center;
  font-weight: bold;
  background-color: #C6EBFF;
}

.table_header {
  padding: 2px;
  text-align: center;
  border: 1px solid #ddd;
  word-wrap: break-word;
  background: #CBE4FF;
  color: #090f4e;
  position: sticky;
  top: 0;
  z-index: 2;
}

.table_header_phase {
  background: #fffccb;
  color: #090f4e;
  position: sticky;
  top: 0;
  z-index: 2;
}

.td {
  padding: 0px;
  text-align: center;
  border: 1px solid #ddd;
  word-wrap: break-word;
  line-height: 1;
}

.td:nth-child(1) {
  width: 40px;
}




.td:nth-child(3),
.td:nth-child(4),
.td:nth-child(5),
.td:nth-child(6),
.td:nth-child(7),
.td:nth-child(8),
.td:nth-child(9),
td:nth-child(10) {
  font-size: 15px;
}

.student_table tbody tr:nth-child(odd) {
  background-color: #EEF9FF;
}

.name {
  font-weight: bold;
}

.disabled_name {
  color: gray;
}

.decline_row {
  color: #868686;
}

.decline_row td,
.decline_row th {
  background-color: #d0d0d0;
  color: #868686;
}


.disabled {
  color: gray;
  cursor: not-allowed;
}

.abled {
  color: inherit;
  cursor: pointer;
}