.header{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}

.jobfair{
    display: flex;
}

.jobfairtable {
    width: 100%;
    border: 1px solid rgb(125, 170, 255);
}


.updatecontent{
    width: 187px;
    display: flex;
    justify-content: center;
}

.updatebutton{
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #CFF1F6;
    width: 147px;
    font-family: Inter;
    font-size: 32px;
    display: flex;
    justify-content: center;
}

.backbutton{
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: lightgray;
    width: 147px;
    font-family: Inter;
    font-size: 32px;
    display: flex;
    justify-content: center;
}


.addbutton{
    color: #000;
}

.cancelrow{
    background-color: lightgray;
}

.deletebutton{
    border: 1px solid;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup_content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(180, 74, 74, 0.2);
    text-align: center;
  }

  button.confirm_button {
    background-color: #4caf50; /* 緑 */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button.cancel_button {
    background-color: #f44336; /* 赤 */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button.confirm_button:hover {
    background-color: #45a049; /* 緑（ホバー時） */
  }
  
  button.cancel_button:hover {
    background-color: #d32f2f; /* 赤（ホバー時） */
  }

  .required {
    color: red;
    font-weight: bold;
  }