table {
    position: static;
    width: 100%;
    border: 1px solid rgb(125, 170, 255);
}

.jobfairtable{
    display: flex;
}

.updatebutton{
    border: 1px solid !important;
}

.addbutton{
    color: #000;
}

.cancelrow{
    background-color: lightgray;
}